{% extends "index.html" %}

{% block body %}
<p> </p>
<img class="circle" style="margin:auto; width:auto;display:block" src = "{{ url_for('static', filename='images/profile_pic.png') }}" alt = "Test Image" />
<h1 style="text-align:center">Hello World!</h1>
<p style="padding: 50px;">I am a data scientist and software engineer eager to apply the power of technology to improve people's lives. Experience using Python for data wrangling, statistical analysis, machine learning, backend development, and frontend development. Interests include tech entrepreneurship, online business, Silicon Valley culture, self-development, maker culture, and martial arts. Currently rounding out my data science education with Flatiron School at Birmingham-Southern College. Will soon be moving to the incredible city of Austin TX to find a startup to contribute to.</p>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
        <svg href="url" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
</svg>
      <a href="url" style="padding: 10px; border: 4px solid blue;font-size: 28px;text-align:center;">LinkedIn</a>
    </div>
    <div class="col">
      <a href="url" style="padding: 10px; border: 4px solid blue;font-size: 28px;text-align:center;">GitHub</a>
    </div>
    <div class="col">
      <a href="url" style="padding: 10px; border: 4px solid blue;font-size: 28px;text-align:center;">Blog</a>
    </div>
  </div>
</div>

{% endblock %}