{% extends "index.html" %}

{% block body %}
<h1>Hello World!</h1>
<img src = "{{ url_for('static', filename='images/profile_pic.png') }}" alt = "Test Image" />
<p>I am a data scientist and software engineer eager to apply the power of technology to improve people's lives. Experience using Python for data wrangling, statistical analysis, machine learning, backend development, and frontend development. Interests include tech entrepreneurship, online business, Silicon Valley culture, self-development, maker culture, and martial arts. Currently rounding out my data science education with Flatiron School at Birmingham-Southern College. Will soon be moving to the incredible city of Austin TX to find a startup to contribute to.</p>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <a href="url" style="padding: 10px; border: 2px solid black;">LinkedIn</a>
    </div>
    <div class="col">
      <a href="url" style="padding: 10px; border: 2px solid black;">GitHub</a>
    </div>
    <div class="col">
      <a href="url" style="padding: 10px; border: 2px solid black;">Blog</a>
    </div>
  </div>
</div>

{% endblock %}